html {
  font-size:14px;
  font-family:"Work Sans", sans-serif;
  background-color:rgb(255,242,242);
}

h1 {
  font-weight:bold;
  font-size:2.5rem;
  color:rgb(32,64,86);
}

h2 {
  font-size:1rem;
  font-weight:bold;
}

p {
  color:rgb(74,74,74);
}

.container {
  margin-top:5rem;
  }

.card{height:12.5rem;
  font-family: 'Schoolbell', cursive;
  font-weight:900;
  font-size:7rem;
  background-color:rgb(32,64,86);
  color:rgb(255,255,255);
  border:4px solid #ffffff;
  border-radius:8px;
  display:flex;
  justify-content: center;
  align-items:center;
  cursor:pointer;
}

.col-sm-2 {
height:9rem;
}

.btn{
  cursor:pointer;
  margin-top:1rem;
}

#voorbij{
  display:none;
  width:1000px;
 height:500px;
 margin:0 auto;
 background:#ffe9ec;
 position:absolute;
 left:50%;
 top:50%;
 margin-left:-500px;
 margin-top:-250px;
  font-size:30px;
  justify-content: center;
  align-items:center;
  flex-flow:column;
}

#voorbij h1{
  color:red;
}

@media only screen and (max-width: 1024px) {

    html {
      font-size:10px;
      }
    .card{
        height:11rem;
        font-size: 5rem;
      }
      .col-sm-2 {
      height:8rem;
      }

    }

    @media only screen and (max-width: 480px) {

        html {
          font-size:6px;
          }
        .card{
            height:4rem;
            font-size: 2rem;
          }
        
        #advanced{
          display:none
        }

        }
